// colores principales

$color-titulos: rgb(105, 15, 15);
$color-parrafos: rgb(247, 243, 243);
$color-footer: rgb(85, 61, 61);
$color-menu: #721718;
$font-titulos: 'Kanit', sans-serif;
$font-textos: 'Ubuntu', sans-serif;